google-adk
yfinance==0.2.56
psutil==5.9.5
litellm==1.66.3
google-generativeai==0.8.5
python-dotenv==1.1.0
scikit-learn
psycopg2
google-api-core
google-cloud-documentai==3.0.0
pandas

functions-framework
cloudevents
google-cloud-aiplatform
vertexai
google-cloud-storage
